body {
    font-family: 微软雅黑;
    background-size: cover;
    display: block;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
}

/* 定义滚动条宽度 */
::-webkit-scrollbar {
    width: 10px;
}

/* 定义那个轨道的样式 */
::-webkit-scrollbar-track {
    background: transparent;
}

/* 定义滚动按钮的样式，就是那个bar */
::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 168, 0.38);
    transition: opacity .8s linear;
}

::-webkit-scrollbar-thumb:hover {
    background: #CFCFCF;
}

.code-content {
    width: 100%;
    height: 100%;
}

.slider-mouseover {
    box-shadow: -1px 0px 1px 1px #d6d6d6;
}

.x-tree-icon {
    background-position: center;
}

.x-tree-no-icon .x-tree-elbow-img {
    width: 0px;
}

.mode-controls .x-form-text {
    border-bottom: 0.5px inset #c2c2c2;
}

.mode-controls .x-form-text:focus {
    border-bottom: 0.5px inset #3F4757;
}

.x-panel-header-default .x-tool-img-add {
    background-image: url(../images/data-add.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-tag {
    background-image: url(../images/switch.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-mode {
    background-image: url(../images/mode.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-save {
    background-image: url(../images/new-module.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-cd-go {
    background-image: url(../images/startup.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-add-folder {
    background-image: url(../images/folder_add.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-add-file {
    background-image: url(../images/add-file.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-cog-add {
    background-image: url(../images/set.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-osx-terminal {
    background-image: url(../images/terminal.svg);
    background-color: #5C6B82;
}

.x-panel-header-default .x-tool-img-more {
    background-image: url(../images/more.svg);
    background-color: #5C6B82;
}

.color-blue {
    color: #41c7ff;
}

.color-blue span {
    color: #359fff;
}

#left-bar-outerCt {
    background-color: #5C6B82;
}

.states-toolbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 21px;
    background-color: #5C6B82;
    border-top: 1px solid #3F4757;
    border-bottom: 1px solid #3F4757;
    box-sizing: initial;
}

.states-toolbar.vertical {
    transform: rotate(-90deg);
}

.states-toolbar a {
    float: left;
    display: block;
    height: 100%;
    color: #acdcff;
    text-align: center;
    padding: 0px 6px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    line-height: 22px;
}

.states-toolbar .states-content {
    width: 275px;
}

.states-toolbar .material-icons {
    margin-top: 0.5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.states-toolbar a:hover {
    background: #3F4757;
}

.states-toolbar .status-msg {
    width: 100%;
    margin: 0 5px;
    line-height: 20px;
    color: #dfe079;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.states-toolbar .status-progress {
    /*width: 250px;*/
}

.states-toolbar a.active {
    background-color: #ed9200;
    color: papayawhip;
}

.states-toolbar a img {
    margin-bottom: -4px;
}

.color-display {
    color: #707e92;
}

.mtku {
    cursor: pointer;
}

.direction-rtl {
    direction: rtl;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #f7f6eb;
    background-color: rgba(159, 153, 155, 0.87);
    border-radius: 4px;
}
