body {
    font-family: 微软雅黑;
    background-size: cover;
    display: block;
    background-position: center center;
    background-repeat: no-repeat no-repeat;
}

/* 定义滚动条宽度 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* 定义那个轨道的样式 */
::-webkit-scrollbar-track {
    background: transparent;
}

/* 定义滚动按钮的样式，就是那个bar */
::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 168, 0.38);
    transition: opacity .8s linear;
}

::-webkit-scrollbar-thumb:hover {
    background: #CFCFCF;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.code-content {
    width: 100%;
    height: 100%;
}

.slider-mouseover {
    box-shadow: -1px 0px 1px 1px #d6d6d6;
}

.x-tree-icon {
    background-position: center;
}

.x-tree-no-icon .x-tree-elbow-img {
    width: 0px;
}

.x-panel-header-default .x-tool-img-add {
    background-image: url(../images/data-add.svg);
}

.x-panel-header-default .x-tool-img-tag {
    background-image: url(../images/switch.svg);
}

.x-panel-header-default .x-tool-img-mode {
    background-image: url(../images/mode.svg);
}

.x-panel-header-default .x-tool-img-save {
    background-image: url(../images/new-module.svg);
}

.x-panel-header-default .x-tool-img-cd-go {
    background-image: url(../images/startup.svg);
}

.x-panel-header-default .x-tool-img-add-folder {
    background-image: url(../images/folder_add.svg);
}

.x-panel-header-default .x-tool-img-add-file {
    background-image: url(../images/add-file.svg);
}

.x-panel-header-default .x-tool-img-cog-add {
    background-image: url(../images/set.svg);
}

.x-panel-header-default .x-tool-img-osx-terminal {
    background-image: url(../images/terminal.svg);
}

.x-panel-header-default .x-tool-img-more {
    background-image: url(../images/more.svg);
}

.color-blue {
    color: var(--base-highlight-color);
}

.color-blue span {
    color: var(--base-highlight-color);
}

*::selection {
    background: var(--base-color);
    color: var(--reverse-color);
}

#left-bar-outerCt {
    background-color: var(--base-color);
}

.states-toolbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 21px;
    background-color: var(--base-color);
    border-top: 1px solid var(--divider-color);
    border-bottom: 1px solid var(--divider-color);
    box-sizing: initial;
}

.states-toolbar.vertical {
    transform: rotate(-90deg);
}

.states-toolbar a {
    float: left;
    display: block;
    height: 100%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0px 6px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    line-height: 22px;
}

.states-toolbar .states-content {
    width: 170px;
    min-width: 170px;
    max-width: 170px;
}

.states-toolbar .material-icons {
    margin-top: 0.5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.states-toolbar a:hover {
    background: rgba(255, 255, 255, 0.3);
}

.states-toolbar .status-msg {
    width: 100%;
    margin: 0 5px;
    line-height: 20px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.states-toolbar .status-progress {
    /*width: 250px;*/
}

.states-toolbar a.active {
    color: #fff;
    border-color: var(--accent-light-color);
    background-color: rgba(255, 255, 255, 0.3);
}

.states-toolbar a img {
    margin-bottom: -4px;
}

.color-display {
    color: var(--disabled-color);
}

.mtku {
    cursor: pointer;
}

.direction-rtl {
    direction: rtl;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.x-accordion-layout-ct {
    background-color: var(--reverse-color);
}

.x-accordion-item .x-accordion-hd {
    padding: 8px 8px;
}

.x-tab-bar-horizontal > .x-tab-bar-body-default {
    min-height: 25px;
}

.x-tab-default-top {
    padding: 5px 8px;
}

.x-accordion-item .x-accordion-hd-over {
    background-color: var(--alt-background-color);
}

.x-accordion-item .x-accordion-hd-over .x-tool-tool-el {
    background-color: var(--alt-background-color);
}

.x-window-default {
    background: var(--background-color);
    color: var(--color);
}

.x-window-header-title-default {
    color: var(--color);
}

.x-window-body-default, .x-message-box .x-window-body, .x-boundlist {
    background: var(--alt-background-color);
    color: var(--color);
}

.x-form-spinner-default {
    background: transparent;
}

.x-window-header-default {
    background-color: var(--header-background-color);
}


