body {
    font-family: 微软雅黑;
}

/* 定义滚动条宽度 */
::-webkit-scrollbar {
    width: 10px;
}
/* 定义那个轨道的样式 */
::-webkit-scrollbar-track {
    background: transparent;
}
/* 定义滚动按钮的样式，就是那个bar */
::-webkit-scrollbar-thumb {
    background: rgba(166, 166, 168, 0.49);
    transition: opacity .8s linear;
}

.code-content {
    width: 100%;
    height: 100%;
}

.slider-mouseover {
    box-shadow: -1px 0px 1px 1px #d6d6d6;
}

.x-tree-no-icon .x-tree-icon {
    display: none;
}

.x-tree-no-icon .x-tree-elbow-img {
    width: 0px;
}

.mode-controls .x-form-text {
    border-bottom: 0.5px inset #c2c2c2;
}

.mode-controls .x-form-text:focus {
    border-bottom: 0.5px inset #3892D4;
}

.x-panel-header-default .x-tool-img-add {
    background-image: url(../images/coins_add.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-tag {
    background-image: url(../images/tag.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-save {
    background-image: url(../images/database_save.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-cd-go {
    background-image: url(../images/cd_go.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-add-folder {
    background-image: url(../images/folder_add.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-add-file {
    background-image: url(../images/add.png);
    background-color: #e0ebf3;
}

.x-panel-header-default .x-tool-img-cog-add {
    background-image: url(../images/cog_add.png);
    background-color: #e0ebf3;
}

.color-blue {
    color: blue;
}

.color-blue span {
    color: blue;
}