body {
    font-family: 微软雅黑;
}

.code-content {
    width: 100%;
    height: 100%;
}

.slider-mouseover {
    box-shadow: -1px 0px 1px 1px #d6d6d6;
}

.x-tree-no-icon .x-tree-icon {
    display: none;
}

.x-tree-no-icon .x-tree-elbow-img {
    width: 0px;
}